@import "~normalize-scss/sass/normalize/import-now";

/*
// https://github.com/modularscale/modularscale-sass
@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.5
);
*/

$color-primary: rgba(21, 21, 21, 1);
$color-inverted: invert($color-primary);
$color-secondary: rgba(166, 61, 64, 1);
$color-tertiary: rgba(233, 184, 114, 1);
$color-quaternary: rgba(144, 169, 89, 1);
$color-quinary: rgba(100, 148, 170, 1);
$color-transparent: rgba(0, 0, 0, 0);

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.5;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $color-primary;
}

// clearfix - https://css-tricks.com/snippets/css/clear-fix/
.group:after {
  content: "";
  display: table;
  clear: both;
}

// block identifier helper
.label {
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    min-height: 4rem;
    font-size: 130%;
    font-family: monospace;
}

.id {
    @extend .label;

    color: $color-inverted;
    background: linear-gradient(to bottom, $color-quaternary, darken($color-quaternary, 20%));
    border-radius: 10px;
}

@mixin grid($size, $color, $width) {
    background-size: $size $size;
    background-image: linear-gradient(to right, $color $width, transparent $width), linear-gradient(to bottom, $color $width, transparent $width);
}

.grid {
    position: relative;

    &:hover {
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }

        &:before {
            @include grid(5rem, rgba(0, 0, 0, 0.1), 2px);
        }

        &:after {
            @include grid(1rem, rgba(0, 0, 0, 0.1), 1px);
        }
    }
}

.experiment {
    position: relative;
    margin-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.2);

    @extend .grid;

    &__title {
        margin: 0;
        padding: 0 1rem;
        line-height: 4rem;
        background-color: $color-primary;
        color: $color-inverted;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 2em;
    }

    &__contents {
        padding: 2rem;
    }

    &__float-layout {
        $vertical-margin: 2em;
        $horizontal-margin: 2%;
        $content-width: 65%;

        .layout {
            width: 60%;
            padding: 1em;
            margin: 0 auto;

            &__header,
            &__content,
            &__sidebar {
                margin-bottom: $vertical-margin;
            }

            &__content {
                float: left;
                width: $content-width;
            }

            &__sidebar {
                float: left;
                width: 100% - $content-width - $horizontal-margin;
                margin-left: $horizontal-margin;
            }

            &__footer {
                clear: both;
            }
        }
    }

    &__gradients {

        .gradient {
            @extend .label;

            color: $color-inverted;
            width: 10vw;
            height: 10vw;
            margin: 1rem 0rem 1rem 1rem;
            float: left;

            &__top-to-bottom {
                background-image: linear-gradient(to bottom, $color-secondary, $color-tertiary);
            }

            &__angle-smooth {
                background-image: linear-gradient(45deg, $color-secondary, $color-tertiary);
            }

            &__angle-hard {
                background-image: linear-gradient(45deg, $color-secondary 75%, $color-tertiary 75%);
            }

            &__multicolor-smooth {
                background-image: linear-gradient(to right, $color-primary, $color-secondary, $color-tertiary, $color-quaternary, $color-quinary);
            }

            &__multicolor-hard {
                background-image: linear-gradient(to right, $color-primary 20%, $color-secondary 20%, $color-secondary 40%, $color-tertiary 40%, $color-tertiary 60%, $color-quaternary 60%, $color-quaternary 80%, $color-quinary 80%, $color-quinary 100%);
            }

            &__radial-smooth {
                background-image: radial-gradient($color-primary, $color-secondary);
            }

            &__radial-multicolor {
                background-image: radial-gradient($color-primary, $color-secondary, $color-tertiary);
            }

            &__radial-hard {
                background-image: radial-gradient($color-tertiary 50%, $color-secondary 50%);
            }

            &__radial-background {
                background-image: radial-gradient($color-transparent 50%, $color-secondary 50%), url("http://lorempixel.com/400/300/nature/1");
            }

            &__radial-ellipse {
                background-image: radial-gradient(ellipse farthest-corner at 0px 0px, $color-secondary 25%, $color-tertiary 75%);
            }
        }
    }

    &__backgrounds {

        .background {
            @extend .label;

            color: $color-inverted;
            background-color: $color-secondary;
            width: 400px;
            height: 300px;
            padding: 2rem;
            margin: 1rem 0rem 1rem 1rem;
            border: 1rem dashed rgba(0, 0, 0, 0.25);
            float: left;

            &__default {
                background-image: url("http://lorempixel.com/200/150/nature/1");
            }

            &__no-repeat {
                background-image: url("http://lorempixel.com/200/150/nature/1");
                background-repeat: no-repeat;
            }

            &__repeat-x {
                background-image: url("http://lorempixel.com/200/150/nature/1");
                background-repeat: repeat-x;
            }

            &__repeat-y {
                background-image: url("http://lorempixel.com/200/150/nature/1");
                background-repeat: repeat-y;
            }

            &__position-px {
                background-image: url("http://lorempixel.com/200/150/nature/1");
                background-repeat: no-repeat;
                background-position: 1em 2em;
            }

            &__cover {
                background-image: url("http://lorempixel.com/600/150/nature/1");
                background-repeat: no-repeat;
                background-size: cover;
            }

            &__contain {
                background-image: url("http://lorempixel.com/600/150/nature/1");
                background-repeat: no-repeat;
                background-size: contain;
            }

            &__clip-border {
                background-image: url("http://lorempixel.com/400/300/nature/1");
                background-repeat: no-repeat;
                background-clip: border-box;
            }

            &__clip-border-origin {
                background-image: url("http://lorempixel.com/400/300/nature/1");
                background-repeat: no-repeat;
                background-clip: border-box;
                background-origin: border-box;
            }

            &__clip-padding {
                background-image: url("http://lorempixel.com/400/300/nature/1");
                background-repeat: no-repeat;
                background-clip: padding-box;
            }

            &__clip-content {
                background-image: url("http://lorempixel.com/400/300/nature/1");
                background-repeat: no-repeat;
                background-clip: content-box;
            }

            &__multiple {
                background:
                    url("http://lorempixel.com/200/150/nature/1") 0 0 no-repeat border-box,
                    url("http://lorempixel.com/200/150/nature/2") 100% 0 no-repeat  border-box,
                    url("http://lorempixel.com/200/150/nature/3") 0 100% no-repeat  border-box,
                    url("http://lorempixel.com/200/150/nature/4") 100% 100% no-repeat  border-box;
            }
        }
    }

}
